<%- include('partials/site-start', { title: 'Error' }) %>

<div class="card p-3 rounded-3 bg-white">
  <h1 class="mb-3"><%= message %></h1>
  <div class="alert alert-danger mb-0">
    <%= error.status %>
  </div>
</div>

<%- include('partials/site-end') %>
