<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.ni57862" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jakub 57862</name>
    <description>Weather App</description>
    <author email="sj57862@zut.edu.pl" href="https://cordova.apache.org">
        Jakub Świrski
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
